[2020-12-11 08:51] kettanaito opened #2 "Support "upsert" and "upsertMany" model method"
An `upsert` method updates an entity matching a query or creates a new entity if there was none. `upsertMany` behaves the same with the difference that it operates on multiple entities.

[code]

[2020-12-11 10:16] kettanaito opened #3 "Restructure database to a dictionary"
[code]

This change also implies:

- Change in the `executeQuery` to account for `query.which.id` to reference `db[modelName]query.which.id.equals]`.
- Supporting the `primaryKey` to customize which key is considered an identifier. Alternatively, always have `id` as an identifier.

[2020-12-11 10:19] kettanaito opened #4 "Support pagination of the results"
## Offset-based pagination

[code]

## Cursor-based pagination

[code]

[2020-12-11 10:20] kettanaito opened #5 "Support "deleteMany" model method"
[code]

[2020-12-11 10:30] kettanaito opened #6 "Support "strict" mode on model methods"
Affected methods:

- `findOne`
- `findMany`
- `update`
- `delete`

## Expected behavior

When the `strict: true` is set on the operation and the operation fails to query for an entity in the database, throw an exception.

[code]

[2020-12-11 11:28] #5 closed, assigned to nobody

[2020-12-11 15:10] kettanaito opened #9 "Support a "Boolean" model property"
[code]

Query string:

[code]

[2020-12-11 15:12] kettanaito opened #10 "Support "updateMany" model method"
[code]

[2020-12-11 20:43] kettanaito opened #11 "Support a method to generate REST API request handlers from a model"
[code]

Calling `.toHandlers()` method on a model generates a list of REST API request handlers. Converts a model name into plural where applicable.

[code]

Such handlers are integrated with MSW and can be used directly when setting up a worker/server:

[code]

The generated handlers also implement their response resolver functions, properly updating the `db` and returning the data respective to

[2020-12-13 09:39] #9 closed, assigned to kettanaito

[2020-12-14 17:55] marcosvega91 opened #17 "Export pre-populated databases"
We can provide some api to generate handles, entities, models, for example I can create Pokemon API by using

[code]

The function will create a new db with pokemon entities, populate with some data and attach to msw instance the handlers.
We can add more examples that can be used for POC applications

[2020-12-21 09:07] #10 closed, assigned to marcosvega91

[2020-12-22 12:06] #3 closed, assigned to marcosvega91

[2020-12-22 12:20] kettanaito opened #22 "Replace "PRIMARY_KEY" with an actual model primary key"
#21 has introduced an issue where a hard-coded string "PRIMARY_KEY" is supplied to `executeQuery`, causing it to never filter the dictionary by the primary key:

https://github.com/mswjs/data/blob/d0f48e6ae5b9264dcb5fb824fed0d5a9bf28803e/src/factory.ts#L75

## Expected behavior

Should pass the model primary key to its `executeQuery` calls.

[2020-12-22 12:41] #6 closed, assigned to kettanaito

[2020-12-22 15:13] #22 closed, assigned to kettanaito

[2020-12-22 15:28] kettanaito opened #25 ""update"/"updateMany" don't handle value updates to the primary key"
Whenever a primary key of the entity is updated via `update`/`updateMany`, that should be reflected in the database:

- The record with the old primary key must be deleted.
- The updated record must be set in the database with the updated primary key value.

[2020-12-22 15:53] kettanaito opened #26 "Evolution properties in "query.data" don't respect the property type"
[code]

[2020-12-22 15:58] #25 closed, assigned to kettanaito

[2020-12-22 16:05] #26 closed, assigned to nobody

[2020-12-22 16:34] kettanaito opened #29 ""update"/"updateMany" forbid primary key value update to existing primary key"
[code]

[2020-12-22 17:49] #4 closed, assigned to kettanaito

[2020-12-22 17:50] kettanaito opened #31 "Support seeding the database"
[code]

[2020-12-23 10:49] kettanaito opened #34 "Support unique/shared relational models"
Should we support unique/shared relational models?

[code]

The `oneOf`/`manyOf` API we have at the moment behaves as `unique: false`.

[2020-12-26 09:38] #29 closed, assigned to marcosvega91

[2020-12-26 10:44] kettanaito opened #35 "Primary key differs in server vs browser"
When `@mswjs/data` is used with MSW in situations when MSW handles both server- and client-side requests (i.e. with NextJS), the primary keys generated are different on the server and in the browser. This disrupts the data integrity and makes certain features like pagination unfunctional (`cursor` never matches, as the entity with such ID doesn't exist).

I wonder, should we handle this at the lib

[2020-12-26 10:52] kettanaito opened #36 "Support model type generic for "factory""
It should be possible to approach data modeling type-first by reusing existing TypeScript interfaces to annotate the data. This is useful when there are types generated from the server (i.e. with GraphQL Codegen).

[code]

[code]

[2020-12-26 10:57] kettanaito opened #37 "Support both pagination and total results count"
It should be possible to paginate the results of `.findMany()` but expose the total count of results for the query.

I suggest extending the `.count()` model method to accept a `query`. If given a query, the `.count()` method would filter the database based on that query and return the count of records matching it.

[code]

[2020-12-26 11:07] #37 closed, assigned to kettanaito

[2020-12-28 07:57] kettanaito opened #39 "Use "__primaryKey" instead of "__nodeId""
With the introduction of `primaryKey`, it effectively becomes a unique node's ID. It should be used instead of an extra `__nodeId` that used to be internally assigned.

[2020-12-28 08:14] #39 closed, assigned to kettanaito

[2020-12-28 10:58] #35 closed, assigned to nobody

[2020-12-30 12:07] kettanaito opened #41 "Omit internal properties when returning a public record"
The properties described in the `InternalEntityProperties` interface must not be included in the publicly returned records:

https://github.com/mswjs/data/blob/3dc15fda9692aa897987cf17efd129d9b2645ec0/src/glossary.ts#L46-L49

People are likely to assert the publicly returned data directly, i.e. with `expect(db.user.findFirst(...)).toEqual({...})`. Including internal properties is implementation de

[2021-01-06 21:15] marcosvega91 opened #43 "Print some message as warning instead of throw an error"
I was thinking if the following code is correct

[code]

If there is no record in the database queries will throw an error. Maeby this error can be turned into a warning message?
Methods will return a null object or an empty array and could print a message to the console. We can add also an option to quite all messages.

I create a factory with one table `Todo` then my todo list component will mak

[2021-01-06 21:22] marcosvega91 opened #44 "Clear all entities"
I think that for testing purposes we need a way to delete all entities between tests. As an alternative, a user can loop all entities and call the delete method.

[2021-01-07 10:54] #44 closed, assigned to nobody

[2021-01-07 12:44] #43 closed, assigned to nobody

[2021-02-04 11:58] kettanaito opened #46 "Support querying through one-to-many relations"
[code]

## Expected behavior

[code]

## Current behavior

[code]

[2021-02-04 16:25] #46 closed, assigned to kettanaito

[2021-02-04 16:59] #34 closed, assigned to kettanaito

[2021-02-05 11:59] kettanaito opened #49 "Persistency layer"
I suggest we add a client-side synchronization layer to keep multiple clients that use the same DB in sync.

## Implementation

Each `factory` call attaches a sync middleware. That middleware establishes a `BroadcastChannel` with a reproducible ID that allows other DB to communicate via the same channel.

Whenever there's a change to a DB (create/update/delete), that change is signaled to the chan

[2021-03-10 11:07] Aprillion opened #50 "Data reset"
When used for testing, we will want to make the tests independent, so some mechanism should exist for resetting all data to initial state (probably outside of @mswjs/data implementation, just some documented recipe).

I would imagine most people who need independent tests already use:

[code]

How to hook into that?

[2021-03-10 11:09] #50 closed, assigned to nobody

[2021-03-18 15:30] kettanaito opened #54 "Server-Client synchronization"
In order to use this library for SSR scenarios, there should be a way to synchronize the DB state on the server based on the operations performed on the client.

## Scenario

1. I load a page with an empty BD on the server.
2. I load the client, it gets the payload from the server, which gets it from the server-side DB.
3. I perform some client-side interactions, creating a new entity in the clien

[2021-04-07 10:50] #11 closed, assigned to marcosvega91

[2021-04-07 10:54] kettanaito opened #56 "Support relations when generating REST handlers"
## GitHub

- Follow up #12

## What

Given the following model declarations:

[code]

And called `db.user.toHandlers`, the following relation handlers must be created in addition to the default CRUD handlers:

- `GET /users/:id/posts`, returns all posts that belong to the user.
- `GET /users/:id/posts/:slug`, returns a post by a slug that belongs to the user.

I'd say that PUT and DELETE methods s

[2021-04-13 09:55] kimroen opened #65 "Consider renaming `which` to `where`"
The property used to filter in mswjs/data is named `which`, citing [being heavily inspired by Prisma](https://twitter.com/ApiMocking/status/1381718391422132225). However, Prisma does not use `which`, it uses `where`:

https://www.prisma.io/docs/concepts/components/prisma-client/filtering-and-sorting

Is it possible that this is a mistake?

`where` is also the preferred word for other ORMs (presuma

[2021-04-13 10:41] kettanaito commented on #65
Thank you for reporting this, @kimroen. You're absolutely right, and the `which` choice is an oversight on my part (@msutkowski has also pointed this out). I think we should adopt `where` instead.

Please, would you be interested in shipping this change?

[2021-04-13 23:53] kettanaito commented on #49
This logic can be applied internally in two separate middleware:

- Synchronization middleware. Utilizes `BroadcastChannel` to sync database operations between currently open tabs.
- Persistency middleware. Flushes the latest database state into `sessionStorage` and hydrates from it upon page load.

Those two are independent functionalities that together contribute to a good client-side experience

[2021-04-14 06:58] jgoux commented on #36
I was coming to talk exactly about this workflow. 😄

At my company we're using graphql-codegen heavily to generate :
- Our database client (prisma)
- Our query/mutation hooks (we write the operations in .graphql files and then have the corresponding hooks ready to be consumed in a .graphql.ts file).

Our main goal now for frontend testing would be to leverage all this existing codegen and being ab

[2021-04-14 20:19] marcosvega91 commented on #56
I think that for oneOf relations is good to have a singular noun. It makes the url self explanatory

[2021-04-14 22:27] kettanaito commented on #56
Makes perfect sense, @marcosvega91!

[2021-04-15 09:26] #65 closed

[2021-04-15 12:23] kimroen commented on #65
Wonderful 👍 🎉

[2021-04-15 16:37] kettanaito opened #69 "Support querying REST API resources by query parameters"
## What

Support querying REST API resources by their properties through URL query parameters.

[code]

Where `?manufacturer=ford` is transformed to a `where` query against the `"manufacturer"` property of the car:

[code]

Internally, query parameters can be respected like so:

[code]

[2021-04-16 09:51] kettanaito opened #71 "Parse model definition when creating a model API"
The model definition should be parsed on the root level of `createModelApi`, as it derives additional information from the model definition (properties, relations, primary key). There is no need to parse it _each time_ when creating an entity (current behavior).

This change would also allow for various extensions (i.e. client sync and persistency) to access the model's relational properties on th

[2021-04-16 17:12] flintc opened #73 "Data querying is broken"
@mswjs/data package version 0.1.1 does not work as expected when querying data. Example from `test/query/string.test.ts`

[code]
console.log(allPizza) prints:
[code]

expected:
[code]
see example codesandbox [here](https://codesandbox.io/s/sharp-goodall-ykfq3)

[2021-04-16 17:19] flintc commented on #73
[Comparing tag 0.1.1 to master](https://github.com/mswjs/data/compare/v0.1.1...master) it appears the issue is the 0.1.1 release uses "which" instead of "where" and the docs are for an upcoming release. I will use which until the next release. Thank you for your work

[2021-04-16 17:19] #73 closed

[2021-04-16 22:20] kettanaito commented on #73
Hey. Yes, please, use `which` until the next release. We've addressed that misalignment, and the library will use `where` in the next version. Thanks.

[2021-04-19 13:53] #71 closed

[2021-04-19 14:38] camchenry opened #74 "getAll is not generic"
Hi,

I am using this library in a TypeScript-heavy project and I noticed that the `getAll` function does not properly infer the generic type of the database entity. The properties still exist in the object, but TypeScript doesn't know about it so it can't auto-complete the properties or provide any type checking for them.

Screenshot:
![image](https://user-images.githubusercontent.com/1514176/1152

[2021-04-19 14:56] camchenry commented on #74
Opened a PR (#75) to fix the TypeScript definition for this function.

[2021-04-19 15:17] kettanaito commented on #74
Hey, @camchenry. Thank you for raising this and preparing a pull request! I'll review it and let's have these typings improved.

[2021-04-19 15:31] #74 closed

[2021-04-19 19:48] camchenry opened #76 "Find APIs should possibly return undefined"
Hi, I am having multiple issues, the biggest of which currently is that the `findMany` and `findFirst` APIs do not allow for the possibility of returning `undefined`, even though they may do so. This causes TypeScript to not be able to type check this properly and results in run-time type errors.

CodeSandbox example:
https://codesandbox.io/s/mswjs-undefined-type-error-omifi?file=/src/App.tsx

[co

[2021-04-19 23:44] kettanaito commented on #76
Hey, @camchenry. Thank you for yet another suggestion!

Would `T | null` work for your use case? It'd be great to align the returned value, and we do use `null` for update/delete operations already:

https://github.com/mswjs/data/blob/f8da857b3ea62dc2486b13f7cf9228e15e173b0d/src/glossary.ts#L136-L140

[2021-04-20 05:59] marcosvega91 commented on #76
I have noticed this some day ago and put it in the pr #67. Today i'll rebase the branch

[2021-04-20 13:13] camchenry commented on #76
Yeah, `T | null` would work for me, and I'd imagine others as well. For pretty much all intents and purposes, I'd treat `null` and `undefined` interchangeably. For me, the main thing is being able to use the `??`, and `?.` operators to handle nullish values seamlessly, as well as doing a check like:
[code]

Thinking about it a little more though, this should probably only apply to the `findFirst`

[2021-04-20 16:03] camchenry opened #78 "Error when calling findFirst even though nothing has changed"
First, thanks for the great library. This solves the exact problem I have been working on, and we're already using MSW so this is a natural fit.

I have been running into an issue where the relations seem to "disappear" from the database, even though nothing has changed? I created a CodeSandbox which consistently crashes:
https://codesandbox.io/s/mswjs-relation-undefined-error-wkcfp?file=/src/App.

[2021-04-20 18:15] marcosvega91 commented on #78
Hi @camchenry thanks for raising the issue :).

I think that making the property [`enumerable`](https://github.com/mswjs/data/blob/f8da857b3ea62dc2486b13f7cf9228e15e173b0d/src/model/defineRelationalProperties.ts#L82) should solve the issue. I have already done it in the same PR as for the other issue because I need it for deleting internal properties.

[2021-04-20 20:24] camchenry commented on #78
@marcosvega91 Sounds great! I will look forward to when that releases then.

[2021-04-20 23:09] kettanaito commented on #78
Thanks for raising this, @camchenry. You've been immensely helpful in uncovering these behaviors. That's indeed an issue and we should fix it in the upcoming release.

@marcosvega91, I'll take a look at the internal properties removal pull request once more, would love to get it merged. It's a superb piece of work already, so huge thanks! I have one concern, but we'll figure it out.

[2021-04-21 09:52] #41 closed

[2021-04-21 09:53] kettanaito commented on #78
The issue itself is addressed in #67, but we need to add a test for it. @camchenry, please, would you be interested in contributing the relevant test? We can support you throughout the process and have this not only fixed, but bullet-proof against any future regressions?

[2021-04-21 13:07] camchenry commented on #78
@kettanaito Sure! I'll try to get around to it today and put up a PR.

[2021-04-22 10:34] kettanaito commented on #76
Agree on that: let's retain `findMany` returning an empty array in the case when no entities matched the query. I find it a more pleasant data type to work with (both `results.length` and `results.map` are intuitive on empty results).

[2021-04-23 14:27] cloud-walker opened #82 "`primaryKey` types does not support numbers"
Hello! I'm trying out the package for the first time, and I've noticed that the primaryKey type does not support numbers:

https://github.com/mswjs/data/blob/8bb7419689dcbea52f5b758d4a302ab06e9310eb/src/glossary.ts#L8

It is intentional? I need it to be number, as the real db my backend is using has numeric ids 😅

I'll be happy to open a PR if needed ❤️

[2021-04-23 15:01] marcosvega91 commented on #82
Hi @cloud-walker thanks for opening the issue :).

I think that there is an issue there. [here](https://github.com/mswjs/data/blob/8bb7419689dcbea52f5b758d4a302ab06e9310eb/src/glossary.ts#L18-L20) I guess `getValue` should return a type `KeyType` instead of `PrimaryKeyType`. An help will be great 🥳

[2021-04-23 15:44] kettanaito commented on #82
Or we'd rather extend `PrimaryKeyType` to include a `number` and be a union type. I think `KeyType` represents an internal key for the model in a database, not the public primary key type.

[2021-04-23 15:47] cloud-walker commented on #82
I was thinking the same thing, I will open a PR and we will continue the discussion there

[2021-04-24 21:37] cloud-walker opened #85 "add the ability to have some "undroppable" initial data"
In my current custom fake data implementation, I have the ability to seed the database with some initial data, that will remain untouched across drops:

[code]

Currently using `@mswjs/data`, if I reset the db with `drop(db)`, I lose ALL the data, and I think is not practical to reseed the data on each test 🤔

[2021-04-25 09:23] kettanaito commented on #85
Hey, @cloud-walker.

Please note that `drop()` is not meant for resetting the database state. It's designed to drop all the entities in the database.

If you wish to reset the state, consider combining drop with your seeding function:

[code]

Would this approach work for your use case?

[2021-04-25 09:26] kettanaito commented on #85
We've also discussed the reset API [here](https://github.com/mswjs/data/discussions/51#discussioncomment-540432), where the following API was suggested:

[code]

There's been no investigating whether such API is possible with the current architecture, but if we ever adopt a reset API, it'd look similar to this.

[2021-04-25 09:29] cloud-walker commented on #85
Thats how I solved the issue with my current `@mswjs/data` experiment. But I think it's a waste of computation to do a reseed afterEach test.

BTW the snapshot proposal could solve the use case!

[2021-04-25 11:41] kettanaito commented on #78
With the test added, is there anything left to address to mak this as done, @camchenry?

[2021-04-25 14:58] camchenry commented on #78
@kettanaito i think with the tests written and the manual testing I've done, I think the original issue should be fixed 🤞

[2021-04-26 09:40] #78 closed

[2021-04-26 13:27] camchenry commented on #78
@kettanaito Any chance this will make it into a new release sometime soon? This was somewhat of a blocker in my project, but I'd like to give it another go and see if I can uncover any more issues.

[2021-04-26 22:25] kettanaito commented on #78
Released in [0.3.0](https://github.com/mswjs/data/releases/tag/v0.3.0). Please give it a try, your feedback is highly valuable!

[2021-04-27 15:49] #82 closed

[2021-04-27 15:51] kettanaito commented on #76
I believe with @67 merged `findFirst` and `findMany` now return the expected types:

https://github.com/mswjs/data/blob/5cc1d731f02e29a57f1a2e4057970359f408ddad/src/glossary.ts#L129-L141

[2021-04-27 15:51] #76 closed

[2021-04-28 08:07] #69 closed

[2021-04-28 08:11] kettanaito opened #86 "Add a "snapshot" utility"
## Expected behavior

The `snapshot` utility would memorize the state of the database (its entities) at a call time, and allow to restore to that memorized state at any further point of time (i.e. before each test).

## Usage

[code]

## GitHub

- Originated from #51
- Related to #85

[2021-04-28 08:11] kettanaito commented on #85
Closing this in favor of #86.

[2021-04-28 08:11] #85 closed

[2021-04-28 08:12] kettanaito commented on #86
Restoring a database is effectively reset it to a given initial state. This may mean that #49 is a prerequisite for this task, as persistency also uses a restoration logic that hydrates a database instance from the `sessionStorage`.

[2021-04-28 09:25] cloud-walker opened #88 "[question] add `lint` script"
@marcosvega91 @kettanaito

I was wondering if adding a base eslint configuration with a `lint` script would be appreciated.

If so, I would be happy to start a PR about it!

[2021-04-28 15:23] cloud-walker commented on #36
We don't currently generate the types already, but I personally maintain a set of entity related types, so yes, it would be nice to be able to communicate these types to `factory`.

[2021-04-28 16:29] kettanaito commented on #88
Hey, @cloud-walker. That'd be a great addition to the project! Would be thankful for a pull request.

[2021-04-28 17:02] camchenry opened #89 "Support nested where clauses"
It would be nice to support nested conjunctions/disjunctions (AND/OR) for creating complex where clause queries.

Example from the [Prisma docs](https://www.prisma.io/docs/concepts/components/prisma-client/crud#filter-by-multiple-field-values):
[code]

Haven't looked into implementing this, but would probably require checking for a special property like `AND` or `OR` and handling the property acco

[2021-04-28 17:06] camchenry commented on #89
If it's easier, the library could support non-recursive queries first, and add recursive functionality later? So these queries would be supported:

[code]

[2021-04-29 11:34] kettanaito commented on #89
Hey, @camchenry. That's a good proposal. I believe your recursive `AND` example is missing an array, right?

[code]

If I understand that API correctly, both `OR` and `AND` support a list of values but treat matches in those list differently:

- OR is basically `list.some()`
- AND is `list.every()`

[2021-04-29 11:37] kettanaito commented on #89
Please, would you be interested in lending us a hand once more?

I think the barebone for this feature would be to extend the `compileQuery` function somewhere along these lines:

https://github.com/mswjs/data/blob/154d5b556970d9a7c09ba9c49e86ec7887620b07/src/query/compileQuery.ts#L28

We can separate the regular `which` object handling in a new function and then check if `where.OR` or `where.AND`

[2021-04-29 14:26] camchenry commented on #89
@kettanaito I'm actually not sure about the missing braces, I took these examples from the Prisma docs, and there's a few examples where they don't have any brackets. I'm not familiar enough with the difference, but I think if it makes things easier for us to implement, we should just stick to explicit braces for the time being.

I can try to dive into this later, I'm working through adding some m

[2021-05-02 04:14] JoseRFelix opened #92 "Entity with `manyOf` Relation not Being Updated When Updating Relationship with MSW"
## Problem

Whenever I update an entity that is related to another through MSW, the other entity is not updated. This only happens when done through MSW. If I were to create an entity and update it imperatively (like inside a function) it would work as expected.

## Reproduction steps:

1. Create an entity outside of MSW with `db.create` and link with another entity in a `manyOf` relationship.
2.

[2021-05-03 13:20] kettanaito commented on #92
Hey, @JoseRFelix. Thanks for raising this.

I've added some missing tests for this, including a test where you create an entity and a relationship directly in `db`, then update that entity via a generated handler, and then query that entity via `db`. All tests pass.

I've spotted a few issues in your sandbox that may cause the behavior you're experiencing.

- Request you make sends a plain text in

[2021-05-03 13:44] JoseRFelix commented on #92
@kettanaito Thanks for the feedback!

What I'm trying to do is an update to an existing related entity. For example, a post related to a user.  I see in the integration tests you are updating the user itself instead of the post. But similar to a database I want to update the post and the changes to be reflected on the user.

On the PATCH /notes inside the sandbox when I update the note with a new

[2021-05-03 13:52] kettanaito commented on #92
Got it. I've added a test that updates a referenced entity instead of the parent entity:

https://github.com/mswjs/data/pull/93/files#diff-4d24d34f243d2f8e5d460606e73f0a491f47c07f8974ff2a2e482af2ab7bd93aR267-R274

Will analyze your example closer to see what may be off. Thanks for the clarifications.

[2021-05-03 14:05] kettanaito commented on #92
I've rewritten the regression test now that I better understand the use case. Please see [this commit](https://github.com/mswjs/data/pull/93/commits/91d54258c016a330b8819537c1f3345679c992b8). The test still passes, so I suspect something else is causing your issue.

I highly recommend stripping your example from any unrelated logic:

- Generation of a unique ID.
- Creation of entities in the `GET

[2021-05-03 14:38] JoseRFelix commented on #92
Here is the repro repo: https://github.com/JoseRFelix/manyof-repro

I tried all the recommended steps:

- *Generation of a unique ID.* Tried with UUID for id and still no luck.
- *Creation of entities in the GET /user handler (consider creating outside of the handler's scope).* Tried creating inside and outside the handler and still no luck.
- *Use plain window.fetch() to eliminate any cache issue

[2021-05-03 14:45] JoseRFelix commented on #92
Ok, after debugging I noticed that `Object.getOwnPropertyDescriptors` inside `createModel` logs `get` correctly.

![image](https://user-images.githubusercontent.com/21092519/116891289-849e3080-abfc-11eb-89a8-39ef6c5ba922.png)

However, when created inside the handler or outside, it's not defined:

![image](https://user-images.githubusercontent.com/21092519/116891431-b4e5cf00-abfc-11eb-821c-d71a4f1

[2021-05-03 14:59] JoseRFelix commented on #92
According to MDN docs about [Object.defineProperties](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty),

Maybe there is an update in the object itself?

[2021-05-03 15:29] kettanaito commented on #92
I think you're right, I notice this too: the relational property stops being a getter and becomes a regular value once it's updated. What I'm still unsure about is why the tests still work properly, even when the relational property is no longer a getter.

[2021-05-03 15:36] kettanaito commented on #92
What's interesting, if you see that relational property becoming a plain value, this means the library updates the _parent entity_ somewhere along the way. As you've expressed above, that's not an intention. The intention is to update a `note` and see that the `customer` has the updated list of notes.

Such shift from the getter to a plain value is, actually, clear because of this call stack:

1.

[2021-05-03 18:34] JoseRFelix commented on #92
I concur with this. We could use `Object.getOwnPropertyDescriptor` and update the ref. Maybe creating a common method could help here, that way model creation and update could share assignment logic for relations.

[2021-05-04 16:05] JoseRFelix opened #94 "Handle Undefined Object in `isInternalEntity`"
## Problem

When adding a non-entity in a relation property, the following error occurs:

[code]

This also breaks dropping a `db`.

## Expected Outcome

The code should not throw because of a null object, but error or warn the user about him using a normal object instead of an entity for a relation.

[2021-05-04 16:43] kettanaito commented on #94
Hy, @JoseRFelix. Thanks for raising this.

This is a valid concern and I agree that the library should warn/error when attempting to assign a plain compatible object as the relational property. This looks like a partial follow-up of #93.

[2021-05-04 16:44] kettanaito commented on #92
Yes, that'd make sense. I'll try to design the logic behind this so it's straightforward and can be reused internally. This has been a great discussion so far, thank you for raising this!

[2021-05-17 10:24] smashercosmo opened #95 "Support defining models with factory functions"
Use case: sometimes it's needed to generate field value based on another field value. This could be done if factory functions in model definitions were supported.

Example:

[code]

[2021-05-17 12:09] kettanaito commented on #95
Hey, @smashercosmo. Thanks for the suggestion.

I think it's a viable use case, but it requires a proper API on the library's side to allow it.

By design, all keys in the object that you pass to the `factory` function are _model names_. We shouldn't change that by introducing special keys like `model` that can act as factory functions.

One way I can see this done in the current API is to expose

[2021-05-17 12:12] smashercosmo commented on #95
In my example ```model``` is not a special key. It just an entity/model name. Sorry for confusion.

[2021-05-17 13:26] smashercosmo commented on #95
Wondering can this be achieved by using property getter, like
[code]

[2021-05-17 13:52] kettanaito commented on #95
My bad, I got it wrong. Having a factory function instead of a plain object may not be that bad, but I'd love to experiment with the possible API for this.

What would be the implications if you defined the data outside of the factory?

[code]

In the example above you don't really rely on the entity values, you create `personFieldValue` and then derive `anotherPersonFieldValue` based on it, which

[2021-05-17 14:13] smashercosmo commented on #95
mmm... I'm maybe missing something but this won't work. Every time we will call `db.person.create()` we will get same values for `personField` and `anotherPersonFieldValue`, because they will be kept in closure.

[2021-05-18 09:12] kettanaito commented on #95
You're right, sorry for overlooking that fact.

[2021-06-02 08:05] juusot opened #97 "Model doesn't support array of strings, numbers or booleans"
Hi.

I cannot create models with array fields. The models support array of arrays or array of object, **but not array of strings, numbers or booleans**.

Here is an example:
[code]

The browser gives the following error:
[code]

Am I doing something wrong or is this a bug?

Thanks!

[2021-06-02 12:49] kettanaito commented on #97
Hey, @juusot. Thanks for reporting this.

Array values are currently only supported through the `manyOf` relation. Using it, you represent an Array of _objects_ (models):

[code]

With this factory, `user.posts` is an Array of `post` entities.

We'd like to have support for primitive types, as strings/numbers/booleans as well, but it's not implemented at the moment. If you're interested at tacklin

[2021-06-07 21:49] smashercosmo commented on #94
Have just stumbled upon this issue. Do I understand correctly that the following thing is not possible at the moment:
[code]

[2021-06-07 22:11] smashercosmo commented on #94
Interesting, that when I run this code i get this ```TypeError: Cannot use 'in' operator to search for '__type' in null``` not every time, but once in a while.

[2021-06-07 22:32] smashercosmo commented on #94
Hm... seems like even you do it like in docs
[code]
You can still get this error once in a while

[2021-06-08 09:10] kettanaito commented on #94
@smashercosmo, if I'm not mistaken, assigning plain objects as relational values isn't supported at the moment. It doesn't error, but won't be treated as a node reference, as opposed to when you assign the result of `db[model].create()`. This is raised in https://github.com/mswjs/data/issues/92 as well, where updating a relational property with a plain object doesn't update the references. I didn'

[2021-06-08 09:17] smashercosmo commented on #94
Ok, but that's another issue, I guess. Currently there is an error raised occasionally even if you assign a result of ```db[model].create()```. Seems like there is some racing condition going on. Does ```db[model].create()``` happens synchronously? Well, probably I'll just try to provide minimal reproduction.

[2021-06-08 21:55] phryneas opened #99 "Feature Request/Unexpected behaviour: Graphql handlers just return string ids instead of relationships"
I just noticed that over in #96 while adding tests.

If I were to add a second model "Post" with a `oneOf` relationship "author" to "User", that would still be output as `String` instead of referencing the `User` type, which would be expected of a graphql api.

This is not a problem of my other PR, but a conceptual problem with `toHandlers`. It would probably have to be part of `Factory` instead o

[2021-06-09 11:54] kettanaito commented on #99
Hey, @phryneas. You're right, the current GraphQL type of a relation would be reduced to a primitive, which doesn't produce a valid GraphQL schema in the end:

[code]

[code]

I can't say from the top of my head if the schema generation logic can determine a value being a relational node to infer its type, or we'd have to extend the logic to have access to relational nodes.

Please, would you be i

[2021-06-09 11:57] #88 closed

[2021-06-09 19:50] phryneas commented on #99
I don't really have the time for that as I have tons of open issues to work on myself :/

But if I find one or two hours I'll dig into the code - maybe it's less work than I'm imagining.

But otherwise, if someone else sees this issue and thinks "Hey, I can do this" - take it! :D

I don't really *need* this right now (although it would be nice in our examples), I just noticed it and wanted to put

[2021-06-22 11:40] smashercosmo commented on #94
Ok, I figured out what my issue was about. You get this error if you try to assign ```null``` to any of the model's fields. Don't know, if it's a bug or by design. But can't think of any reason why ```null``` can't be a valid value.

[2021-07-01 22:11] gmanriqueUy opened #102 "Support sorting of records"
First of all, thanks for this library! It really eases the process of mocking a database.

While implementing pagination in my mock REST API, I couldn't find any documentation about sorting. Does that feature exists and is not documented? If not, are there any plans to add it already or I'm the first one with a use case for it?

Thanks in advance!

[2021-07-02 11:49] kettanaito commented on #102
Hey, @gmanriqueUy. Thank you for the kind words.

Currently, there is no sorting support when paginating entities. How do you see such API being used?

I can imagine something like this:

[code]

I wonder how we can approach sorting of the nested properties with such API. For example, in the ordered list above, sort all `user.posts` by title.

[2021-07-05 18:13] ramyareye opened #104 "use pagination with toHandlers"
Hello, thanks for great library.

I need to paginate my generated data with toHandlers.

this is my handler:
`export const handlers = db.post.toHandlers('rest', 'https://my.backend/posts')`

and this is my query:
`fetch("https://my.backend/posts?take=5")`

but it doesn't work! any idea?

[2021-07-05 22:02] kettanaito commented on #104
Hey, @ramyareye. Thanks for reaching out.

Your usage of the data library is correct. I think what is missing is the actual API interception logic that would tell your app to resolve HTTP requests against your data entities.

The `.toHandlers()` API is designed to be used with [MSW](https://mswjs.io), which is an API mocking library developed by our team. This is a bare example of how to achieve y

[2021-07-05 22:53] ramyareye commented on #104
Thanks for quick response. Actually I'm playing to make a SWR example :D you can find code [here](https://github.com/ramyareye/swr) (sry it's a bit messy now...)

steps to reproduce:

`git checkout add-infinite-custom-mutation-example`
`cd examples/optimistic-ui && yarn && yarn dev`

I setup msw based on Nextjs example on both server and browser, you can check mocks folder, everything is fine exce

[2021-07-06 18:26] kettanaito commented on #104
It looks like there is an issue in the library and how it handles the absence of the `skip` property (or when it's set to `0`). Although we do allow `0` as a value of the "skip" and "take" pagination URL query parameters:

https://github.com/mswjs/data/blob/0900eaad660b0f02e768e9c99d518d2210f48e51/src/model/generateRestHandlers.ts#L91-L92

We seem to be treating `0` as an absence of value later do

[2021-07-06 18:40] #104 closed

[2021-07-06 19:38] ramyareye commented on #104
thanks, real quick :) possible to have a release or date of the next one?

[2021-07-26 10:28] tafuri-m opened #106 "Error on Response Header Graphql"
I have got this error using "db.js" with **factory** and **create** to use automatic GraphQL CRUD handlers,
and **setupWorker**  using **toHandlers** function in GraphQL Mode.

Using the manual Handler "graphql.query('Users'..." the problem is not present.

This is the error:

[code]

Here the browser.js:
[code]

[2021-07-26 11:17] kettanaito commented on #106
Hey, @tafuri-m. Thanks for reporting this.

There appears to be an issue in serializing response headers (`.listToHeaders`) when printing the mocked response preview in the browser's console. I'll update you when I find the culprit.

[2021-07-26 12:29] kettanaito commented on #106
The issue has been related to different versions of `msw` being installed.

Please update to `@mswjs/data@0.4.2` and the issue should be gone.

[2021-07-26 12:29] #106 closed

[2021-07-26 12:44] tafuri-m opened #108 "Problem with manyOf relation"
I had problem with the relation manyOf, in my example i had a user that can create many courses.
The GraphQL type of field "courses" in "user" model is declared String, instead of the model type of "course" so I will receive the following error:

Query1:
[code]
Error1:
`{"errors":[{"message":"String cannot represent value: [{ id: \"c407a7bd-7930-43bc-8241-2aafd058ed39\", title: \"Quisquam debitis

[2021-07-26 13:46] kettanaito commented on #108
Hey, @tafuri-m. Thanks for raising this.

I believe this is a duplicate of #99. Please follow the updates about this issue in the said ticket. Thanks.

[2021-07-26 13:46] #108 closed

[2021-07-26 20:10] kettanaito commented on #99
Since a type may reference other types (relational properties), it's no longer possible to generate a complete GraphQL schema from a single given type (it may depend on other types).

In other words, given a factory like this:

[code]

Generating the GraphQL types via `db.user.toGraphQLSchema()` become a no-op in the _current implementation_, as in order to type the `role` field of the `User` type

[2021-07-28 15:23] #102 closed

[2021-07-28 15:26] kettanaito commented on #102
The `orderBy` option is now supported in [0.5.0](https://github.com/mswjs/data/releases/tag/v0.5.0).

[2021-07-29 20:19] VickyKoblinski opened #111 "comparatorFn is not a function - updateMany doesn't support 'where', expects 'which' v0.5.0"
Hey, I see that recently `which` was replaced with `where`. I have the latest version of this mswjs/data (v0.5.0) from npm and when I try using `where` in `updateMany` I get:

[code]

Changing `where` to `which` has resolved my problem for now :)

[2021-07-29 22:26] kettanaito commented on #111
Hey, @VickyKoblinski.

Could you please share your `updateMany` call? The error you're describing hints that there's an invalid comparator being used (equals/gte/lt/etc.). If you share your usage I can try to help you solve the problem.

[2021-08-01 19:34] davidtkramer commented on #95
I like the approach mentioned here: https://github.com/mswjs/data/issues/95#issuecomment-842272584. It's similar to what factory bot does with [dependent attributes](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#dependent-attributes), although they have the advantage of ruby DSL magic.

I've been working on a lib similar to this (just discovered this week that mswjs/data

[2021-08-04 02:10] ma-hiro opened #112 ""Warning: Possible EventEmitter memory leak detected" occured when define many models"
First, thanks for this awesome library. I'm using this library in my project and it's very useful.

I have defined a number of models using `factory()`, but when it exceeds 11, a warning occurs in chrome.
Is there a way to prevent this?

## Describe
If I define 11 or more models using `factory()`, the following warning will be displayed.

[code]

This is displayed when you define the model, and ev

[2021-08-12 05:58] juusot commented on #112
@ma-hiro  I can confirm. I experienced the same issue in my project.

I tried different ways of going around this problem, but I couldn't find a solution.

[2021-08-12 11:12] kettanaito commented on #112
Hey, @ma-hiro. Thank you for reporting this!

I'll look into the reproduction repository you've posted and update this thread. I don't have any ETA as to when this is going to be fixed. Anybody is welcome to investigate alongside me, as it's most likely an issue of inefficiently added event listeners or a missing listeners cleanup.

[2021-08-12 19:18] rowlandekemezie opened #114 "Suggestions on how to mock data for NoSQL database"
My application is data-driven but developed with Non-relational Database.

I think using the current package doesn't mirror the application code. So, I'm wondering if there's any solution or suggestion on how to approach the mocking.

[2021-08-13 10:58] kettanaito commented on #114
Hey, @rowlandekemezie. Could you please share some more info on your NoSQL data structure?

The usage of this package resembles describing a document store, and I can imagine it being useful for your use-case as well.

[2021-08-13 22:37] JoseRFelix commented on #112
@juusot I encountered this same issue. Since it only occurs when instantiating 10 Event Emitter listeners, we can avoid this by creating a factory for every 10 schemas.

I created a quick abstraction for this:
[code]

[2021-08-17 12:07] kettanaito commented on #112
## Investigation

- The issue appears only in a browser.
- The issue is caused by the `sync` extension that synchronizes entity changes across multiple open tabs.
- The issue is caused by the listeners attached to the `db.events` emitter:

https://github.com/mswjs/data/blob/bce762c1f456fed8e19876e61491fdb25dacb15c/src/extensions/sync.ts#L76-L78

I believe there is no issue per se, just that the ev

[2021-08-17 12:20] #112 closed

[2021-08-17 12:21] kettanaito commented on #112
The issue has been resolved in #115. Published in `0.5.1.` Please update and let me know that it's gone. Thanks.

[2021-08-17 12:27] kettanaito commented on #111
I confirm that version `0.5.0` expects and properly handles the `where` property in all model operations.

Here's an integration test for the `updateMany` method that uses `where` and successfully passes:
https://github.com/mswjs/data/blob/808295f6bb4a26f82a4085da9165da3bf4ac585c/test/model/updateMany.test.ts#L27-L41

Please ensure you're using the latest `@mswjs/data` version. You can do so by:

[2021-08-17 12:27] #111 closed

[2021-08-17 15:30] #114 closed

[2021-08-18 04:07] ma-hiro commented on #112
Updating to `0.5.1` solved my problem.
Thank you for your quick and awesome support!

[2021-09-08 12:38] kettanaito commented on #94
I've opened a pull request that'd ensure the `value` passed to `isInternalEntity` is always a defined object (#117). Passing anything else is unexpected and shouldn't happen. Since the values of the models are defined by the end-user, the function may still get an arbitrary value that violates its call signature.

@smashercosmo, using `null` as the model property value is not correct. All model pr

[2021-09-08 22:06] kettanaito opened #118 "Decide on performance testing"
The current state of the performance testing is left to be desired.

[code]

I like the intention to have some performance regression metrics, but as long as it's reliable. If there's no way to make it such, I'd much prefer these tests to be removed (or skipped).

[2021-09-10 11:13] #94 closed

[2021-09-21 08:17] maciejmyslinski opened #119 "Support transactions"
Hey!

Thank you for creating this outstanding library, it really helps with testing.

One use case that I stumbled upon was the need to check if an object X exists in a database before I can create another object Y that has a relationship many to one with object X.

For example:

[code]

Let's say I want to create a reporter for a given reviewer. First, I have to check if a reviewer exists, then I

[2021-09-21 09:42] kettanaito commented on #119
Hey, @maciejmyslinski. Thank you for the kind feedback!
This is a great suggestion. Let's collaborate on it together.

With the current API, any relation flow is parent -> child, so in your scenario "create a reporter for a given reviewer" implies you're operating with an existing reviewer object:

[code]

Even if you split this operation in steps and create a reporter first, you still need a phys

[2021-09-21 09:45] kettanaito commented on #118
I'd much prefer performance tests to report in a separate thread to visually see how certain changes affect performance. There is no need to automatically fail the build, as in not treat performance results as any subject to passing/failing a test.

[2021-09-21 13:31] nikolasleblanc opened #122 "Wondering when this take/skip parseInt fix will be released?"
https://github.com/mswjs/data/blob/3016d6d0e8bdff85995933a69f7162c1ff081734/src/model/generateRestHandlers.ts#L91

Ran into an issue yesterday where take and skip weren't working until we parsed the strings as ints. See in your code you're now handling that, but not in the released version we have via npm. Any timeline? No rush since we've handled it on our end but curious.

Thanks!

[2021-09-21 16:49] #122 closed

[2021-09-21 16:56] kettanaito commented on #92
@maciejmyslinski downgrading does not equal fixing, you're just reverting to the library version where there was no support for relational properties, I presume.

Anybody is welcome to tackle this, I'll help with the code review. Otherwise, it will be fixed when the maintainers got time.

[2021-09-22 04:12] zkindest opened #123 "add req.query support"
GET /api/replies/test?thread_id=123

[code]
and also typescript issue
[code]

[2021-09-22 14:03] maciejmyslinski commented on #119
In my use case, I have a `createReporter` endpoint that takes reporter name and reviewer id as an input.
Now, reviewer with a given id might not exist - we can't trust user input. So we either:

- check if reviewer exists
- create a reporter
- update reviewer

With transactions we could skip the first step as the whole transaction would fail if reviewer does not exist.

[2021-09-22 14:07] maciejmyslinski commented on #92
I know 😄

I'm looking for a workaround until the fix is available.

[2021-09-29 17:18] lavoscore opened #124 "Polymorphic relationships"
Any chance of having support for polymorphic relations? Like:

[code]

[2021-10-03 10:25] kettanaito commented on #123
Hey, @zkindest.

MSW does not have a custom `query` property on the request object. Instead, we use the standard URLSearchParams under `req.url.searchParams`. **Learn more about [working with query parameters](https://mswjs.io/docs/recipes/query-parameters)**.

In your example, accessing the query parameters would look like this:

[code]

[2021-10-03 10:25] #123 closed

[2021-10-05 10:33] kettanaito commented on #119
You can describe this transaction using the

[code]

This works because `.update()` method queries the database for the given entity first (reviewer in your case):

https://github.com/mswjs/data/blob/3016d6d0e8bdff85995933a69f7162c1ff081734/src/factory.ts#L138-L154

and updates it only when it exists:

https://github.com/mswjs/data/blob/3016d6d0e8bdff85995933a69f7162c1ff081734/src/model/updateEnti

[2021-10-05 15:17] kettanaito commented on #124
Hey, @lavoscore. Thank you for mentioning this.

We should add support for polymorphic relationships (associations) to the library. Before we do that, I'd like to clarify the expected behavior and supposed API.

## Declaration

[code]

## Creating a polymorphic relationship

[code]

## Querying polymorphic relationships

[code]

[code]

[2021-10-05 18:31] lavoscore commented on #124
Looks much better! Loving the project, but currently I'm struggling with this as I need to work with polymorphic models. My workaround is to work with several exclusive properties, which is very cumbersome. Something like this:

[code]

And then writing helpers to detect which property has data and `JSON.stringify` it into `commentable`. And later `JSON.parse` `commentable` into the final object.

[2021-10-07 12:17] kettanaito opened #125 "Deprecate internal "invariant" in favor of "outvariant""
We should use [outvariant](https://github.com/open-draft/outvariant) as a type-safe flexible alternative for the internal `invariant`. That'd allow us to write invariant messages in a more template-like format since `outvariant` supports positionals.

[2021-10-11 12:54] #97 closed, assigned to nobody

[2021-10-12 12:53] kettanaito opened #127 "Re-design relational properties"
## Issues

### Relational properties are all over the place

First, when creating a relation in the model definition using `oneOf`/`manyOf` functions, what you effectively create is a _draft_ for the future relation. Until the relation has access to the entire dictionary (map of models), it cannot know what `primaryKey` the referenced model has.

This implies that any defined relation must be "evo

[2021-10-17 08:19] tkamenoko opened #132 "Support recursive relationships"
`@msw/data` does not support recursive relationships, but it is useful for mocking social media like Twitter, Facebook, etc.

Test code:

[code]

Current output:
[code]

[2021-10-17 22:52] kettanaito commented on #132
Hey, @tkamenoko. Thank you for suggesting this!

I think this library can benefit from supporting recursive relationships. I particularly like your example for its simplicity.

So the infinite cycle is triggered by the `removeInternalProperties` function that's designed to return developer-friendly data stripped of all internal properties like `__type` and `__primaryKey`. When cleaning `firstUser`

[2021-10-18 06:26] smashercosmo commented on #94
@kettanaito I'm not sure that model properties are nullable. At least typescript doesn't know about this.
[code]

[2021-10-18 10:16] kettanaito commented on #94
@smashercosmo, I think at the moment you can set `undefined` instead of `null`. I'm open to discussion to support `Vaule | null` instead.

[2021-10-19 08:24] kentcdodds opened #134 "Support global "reset" capability"
I want to keep all my tests completely isolated. This means I need the ability to drop all values in every database:

[code]

I would use that in my global test configuration so every test could be completely isolated.

[2021-10-19 11:21] kettanaito commented on #134
If you're using a single database in a single test file and wish for the tests to start from the clean state of the database, use `drop`.

[code]

[2021-10-19 13:05] #134 closed, assigned to nobody

[2021-10-21 00:35] tinleym opened #137 "Cannot update relation if not initially defined"
Using 0.6.0, I've encountered some unexpected behavior when updating a relation.

Using the following factory...
[code]

If I initialize and then update a relation...
[code]

The update goes through as expected.

However, if I try to update a relation that hasn't been initialized...
[code]

I get
TypeError: Cannot read property 'modelName' of null

That traces to
@mswjs/data/lib/model/updateEntity

[2021-10-21 20:04] tinleym opened #139 "Cannot define model to have bidirectional relationships for child and parent"
Using 0.7.0, I'm trying to create a hierarchy where Model A is a parent to Model B, which is in turn a parent to Model C. To preserve the links between them, a middle node like Model B would contain reciprocated references to its parent (A) and its child (C). Something, however, seems to be going awry:

https://codesandbox.io/s/dawn-sunset-4weoz?file=/src/App.js

Note that in the example above, co

[2021-10-22 11:56] kettanaito opened #140 "Make the return type of query methods non-nullable when using the "strict" option"
[code]

The value of `user` cannot be null. It's either a value or an exception is thrown.

[2021-10-22 23:04] olivierwilkinson opened #142 "Support null value types"
Hi 👋

I'm loving the project, I've just finished integrating it into our gql mocking with msw. It's really simplified how we handle mutations so already a huge win!

I am hoping to add support for null property values. We use Apollo server, which represents missing values for optional types as null, so for a GQL type:

[code]
The resulting Account type would be represented as:
[code]

Ideally I'd

[2021-10-23 00:17] kettanaito commented on #142
Hey, @olivierwilkinson. Thank you for suggesting this.

We've been thinking about nullable values in the team recently and want to improve how they are handled at the moment. Let me think about this and check your pull request and come back to this issue once I'm done. Thanks.

[2021-10-26 09:17] VanTanev opened #149 "Properties with dots in their name are treated as paths instead of as literals"
Given the following code:

[code]

We get this error:
[code]

This is because createModel uses `lodash/set`, which converts dot strings to deep properties (eg, among others):
https://github.com/mswjs/data/blob/c4a5208301660f4abcfa9996ce301c34f5047aa0/src/model/createModel.ts#L58-L65

The resulting model object is:
[code]

I think that `lodash/set` is a poor fit, because properties with dots in the

[2021-10-26 20:49] ruisaraiva19 opened #151 "Add support for `in` and `notIn` filters for NumberQuery"
Right now, we can't filter entries within an array of numbers.

We can only do it in `String` properties currently via either `in` or `notIn`.

[code]

Adding the same filters for `Number` properties would be great.

[2021-10-29 11:33] #151 closed, assigned to ruisaraiva19

[2021-10-30 08:06] ruisaraiva19 commented on #56
FYI: I'm working on this.

[2021-10-30 11:09] ruisaraiva19 opened #154 "Parse query params for number primary keys in REST handlers"
[code]

With the above example, when generating REST handlers, the following CRUD operations will not work as you would expect:

- `GET /users/:id` (where "id" is your model's primary key), returns a user by ID;
- `PUT /users/:id`, updates an existing user by ID;
- `DELETE /users/:id`, deletes an existing user by ID;

These CRUD operations don't work because the `where` clause is using the request

[2021-10-30 11:16] ruisaraiva19 commented on #154
FYI: I'm currently working on this!

[2021-10-30 11:29] kettanaito commented on #154
A great find, @ruisaraiva19! Do you mind opening this in a standalone pull request? We can roll this bugfix out to the users in a faster manner then. Thanks!

[2021-10-30 11:30] ruisaraiva19 commented on #154
@kettanaito yes, this will be a standalone pull request!

[2021-11-01 11:38] ruisaraiva19 commented on #154
@kettanaito pull request is now ready for review.

[2021-11-01 11:39] kettanaito commented on #154
Thank you, @ruisaraiva19! I'll try providing feedback today.

[2021-11-01 11:40] ruisaraiva19 commented on #154
sounds good!

[2021-11-05 11:02] #154 closed

[2021-11-06 15:03] kettanaito commented on #140
Funny enough, the conditional return type of a function is impossible in TypeScript. You can annotate it to behave properly using `extend`, but you can never _implement_ such a function (you'd have to resort to `any`). TypeScript doesn't correlate your conditional types and the runtime value types in the function.

[2021-11-06 16:05] VanTanev commented on #149
Hey @kettanaito, I have already implemented this in #152. Is there anything you need me to improve?

[2021-11-06 19:52] kettanaito commented on #149
@VanTanev, thank you for your work on that! I've seen the pull request, will review it as soon as I've got a spare minute. Looking forward to having this issue resolved.

[2021-11-09 11:12] #149 closed

[2021-11-12 15:17] kettanaito commented on #95
Hey, @davidtkramer. Excited to hear you're building a similar tool! We could certainly use your expertise, so feel free to share any areas we can improve in the discussions 🙏

For instance, I wonder how did you solve potentially undefined entity values?

[code]

The model's properties will be iterated in the order of declaration (default object iteration order). This means that when the `a` value

[2021-11-12 15:19] kettanaito commented on #95
I also wonder if you imply value synchronization when connecting two model properties this way?

In the example above, what's your expected result when you update the value of the `b` property? What should `user.a` equal to? I'd like to avoid having to issue any kind of value subscriptions as that will overcomplicate the internal model handling.

[2021-11-12 17:13] wrex commented on #95
Does two pass evaluation make sense for the factory? One pass to generate an entity where the properties of the passed argument are all empty strings, then a second pass that passes that entity as an argument?

In other words:

[code]

Would generate

[code]

It might make more sense to make all properties in the first pass null rather than empty strings to handle other data types, but empty strin

[2021-11-17 12:08] #142 closed

[2021-11-17 12:41] kettanaito opened #161 "Support modeling of non-queryable data"
## Motivation

Not all the modeled data are meant to be queryable. In certain cases, it's required to only describe the objects and have an API to seed them on demand. The required `primaryKey` at the moment prevents such usage of the library.

## API

I suggest adding a new public API designed for modeling objects in general, without querying capabilities. The `factory` could then reuse this new

[2021-11-17 14:55] smashercosmo opened #162 "Nested arrays are not supported in model definition"
Consider this case:
[code]

This results in TS error
[code]

[2021-11-18 19:51] ericchernuka opened #164 "Type instantiation is excessively deep and possibly infinite."
I just added v0.8.0 and ran into a weird issue with the types around the `drop` function. I've attached a screenshot of the TS error.
My factory is pretty barebones and shown below:
[code]

![image](https://user-images.githubusercontent.com/243155/142486532-fb0d6ccf-b33c-44a1-a02f-2468d348f23d.png)

I had this working for a bit then it cropped up in CI. We are running TypeScript 4.5.2.

[2021-11-19 09:06] nvh95 opened #165 "Fields with type `Array` cannot be an array of object"
I have example code here:
https://github.com/nvh95/msw-example/blob/d144e5c98f165c15b8758e1157fa478952307d7f/src/mocks/browser.js#L4-L29
Given I have this schema:
[code]
Basically, I have a field `additional_data` which is an `Array`. If I create array of primitive type like `string` or `number`, it works fine.
[code]
![image](https://user-images.githubusercontent.com/8603085/142595383-c0eec79e-78

[2021-11-20 12:47] VanTanev commented on #165
@kettanaito I want to second this, I consider this a valid use.

The change was introduced in here: https://github.com/mswjs/data/pull/143/files#diff-64401d98a99c109c65a62a9cc791a32f21dddb5d08bce553aaa559b6aa0e382dL67-L74
And:
https://github.com/mswjs/data/blob/0970e7ed5a9094d6618ed6563f8bb3a00d5c9ecc/src/utils/isModelValueType.ts#L15

Previously, the check was just that we got an array, and the c

[2021-11-24 23:21] ericchernuka commented on #161
I was thinking about this the other day and thought it would be a great addition. In the Ruby world with `factory_bot` they had a method called `build` which allowed for creating non-persisted entities. https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#build-strategies

[2021-11-24 23:25] ericchernuka opened #166 "Ability to store plain JSON as an attribute"
Right now I have a data model that does not contain primary keys and is actually recursive. The backend actually stores the column a as JSON, but I'm currently having to build a model around it when it would be drastically simpler if I had the ability to have a dataType that was just a plain JSON object.

Example that I'm working with:
[code]
All that being said, maybe there's an easier way to mod

[2021-11-24 23:27] ericchernuka commented on #166
Looks like https://github.com/mswjs/data/issues/165 may resolve my issues. 🤔

[2021-11-24 23:36] ericchernuka commented on #164
Magically went away.

[2021-11-24 23:36] #164 closed

[2021-11-25 10:52] kettanaito commented on #166
Hey, @ericchernuka. At the moment we don't support creation of static fixtures (data without primary keys). We've got the task opened and will schedule it for the future.

[2021-11-25 10:53] #166 closed

[2021-11-25 18:49] kettanaito commented on #164
Hey, @ericchernuka. Thanks for reporting this.

With the addition of the nested objects support (#113), our type definitions now reference themselves (the depth of the model may be infinite, in theory). I believe the latest releases of TypeScript can tolerate that just fine. Please note that we support TypeScript **4.2.x** at the moment. Recursive types should be possible, otherwise, how can one a

[2021-11-25 19:13] ericchernuka opened #168 "Updating a `oneOf` resource without an ID throws exception"
As part of a conversation around updating related models in https://github.com/mswjs/data/discussions/167 it was discovered that
performing an update such as the example below causes an invariant violation with the error message of `Invariant Violation: Failed to define a relational property "draftSegmentRevision" on "segment": referenced entity "undefined" ("id") does not exist.`

[code]

I will

[2021-11-25 19:28] kettanaito commented on #168
Thanks for opening this one, @ericchernuka.

Based on our [one-to-one integration test suite](https://github.com/mswjs/data/blob/0970e7ed5a9094d6618ed6563f8bb3a00d5c9ecc/test/relations/one-to-one.test.ts) I can say that we probably never implemented the support to update relational properties from the parent. That's a pity, really, as it does sound like something our API should support.

I will tr

[2021-11-25 19:31] ericchernuka commented on #168
Let me see if I can get some time to help out with this.

[2021-11-26 15:21] kettanaito opened #170 "Relational property's getter is lost when updating the parent entity"
## Steps to reproduce

[code]
`segment.revision` is no longer a getter to resolve the referenced entity. Instead, it's the actual value of the referenced entity at the moment of the "segment" update.

## Root cause

The issue is caused by spreading the updated `entityChunk` when performing `update`:

https://github.com/mswjs/data/blob/0970e7ed5a9094d6618ed6563f8bb3a00d5c9ecc/src/model/updateEntity

[2021-11-26 16:29] #170 closed

[2021-11-26 16:40] kettanaito commented on #165
Hey, @nvh95. Thank you for reporting this.

This does look like an issue, as Data should support primitive arrays on model definitions. I'll take a look at the pull request opened by @roertbb (huge thanks 🙌 ) and see if it's indeed a regression.

[2021-11-26 17:45] nvh95 commented on #165
@kettanaito Thank you very much. I'm looking forward to see it fixed. In the mean time, I just want to share my work around:
1. Change the model:
[code]
2. Convert file contain the model from `.ts` to `.js`. Since TS does not allow us to define the model as above
![image](https://user-images.githubusercontent.com/8603085/143616331-2d8d506a-6fde-4163-872f-a61f27d10981.png)
Well, it looks not very g

[2021-11-27 08:43] VanTanev commented on #165
The above workaround just gives a static value in the factory definition, you cannot create arrays with different values.
Here is a workaround that allows you to create different objects:
[code]

[2021-11-27 11:24] kettanaito commented on #168
What I've come to realize is that you can collocate the two updates using the value getter on the updated properties.

[code]

I think I like this explicit update on the `draftSegmentRevision` more than specifying a subset of the next properties and relying on the library figuring it out internally. Such internal handling would certainly result in a more concise call, but it'd take away what's act

[2021-11-27 11:43] #165 closed

[2021-11-27 17:02] ericchernuka commented on #168
I like it. Makes sense and is transparent. I saw the docs were updated with this the value getter method. I attempted it this morning, but ran into a few issues:
- Upon executing it it throws a `Invariant Violation: Failed to update relational property "draftSegmentRevision" on "segment": the next value must be an entity, a list of entities, or null if relation is nullable`
- TS doesn't seem to li

[2021-11-27 17:30] roertbb commented on #89
I've used Prisma a little bit lately, but haven't managed to utilise the `AND` and `OR` operators. Nevertheless, I'd like to share my assumptions about that, given what I managed to understand based on Prisma docs, which may give you some insights on how it could be developed further.
As mentioned in readme, the query API is inspired by Prisma and I believe that would be a good choice to extend it

[2021-11-29 08:39] kettanaito commented on #168
I will find some time to improve the tests for relationships. I think we miss much by not clearly defining certain things we've discovered along the way. I'd like for the tests to be more granular and represent all the use cases I think the library should cover (but doesn't, as we gradually find out).

[2021-11-30 07:12] roertbb opened #174 "Support for typing nested Arrays"
Currently, there is a possibility to define some model property to be an `Array` (if I got it correctly, it was introduced in [#113](https://github.com/mswjs/data/pull/113)).
Example use of it can be found in [#169](https://github.com/mswjs/data/pull/169) and it can look like that

[code]

Recently, in a project I'm working on, we used that feature to model some nested properties of one of the mod

[2021-12-03 11:48] kettanaito opened #176 "Add granular tests for relationships"
As a follow-up of #175, we need to add more granular tests to other relationship kinds (currently only the `one-to-one` kind was properly covered).

[2021-12-08 06:20] easybird commented on #49
Hi,

Thank you for this library. It's great.
But this is the killer feature I need it to be usable..we want to use it during frontend development and some sort of quick demo mode.

@kettanaito , why did you stop working on #87  ?  Any plans on finishing it?
Or anything I can do to help finishing it?

[2021-12-08 12:12] kettanaito commented on #49
Hey, @easybird. Thank you for your kind words.

I think I've stopped working on the feature simply due to the lack of time. Technically, the last task I recall tackling was the proper serialization of the entire `database` instance to the session storage. Now, with the migration to Symbols for internal properties, it'd have to have an additional step to serialize those as well.

I wouldn't advise

[2021-12-23 22:30] tinleym opened #181 "Saving (and loading) an initialized factory"
Is there a good way to save an initialized factory to file to load later? I'd like to be able to start up a bigger factory faster.

[2021-12-25 17:24] kettanaito commented on #181
Hey, @tinleym.

There's no designated API for that. We are implementing what effectively is serialization/deserialization of _entities_ in #87 but I can't give any promises that are going to be a public API you can utilize on your own.

Are you concerned with the runtime or compile-time performance? If it's the former, consider using memorization and other similar tools to reduce the cost of gener

[2022-01-03 07:13] jpribyl commented on #36
From what I can see, the `ManyOf` and `OneOf` relationships make this a bit difficult to infer. I think that we will wind up needing partial type argument inference  ( https://github.com/microsoft/TypeScript/issues/26242 ) to make the syntax much nicer than this:

[code]

In the mean time, I guess this can be a workaround. Or maybe someone else can figure out how to use currying in order to simula

[2022-01-21 08:08] christoph-fricke opened #185 "Expose helper types to get `Entity` and `Value`"
As far as I am aware this library only exposes types for the exported functions. This makes it hard to type use-cases that go beyond "creating a few models and query them".

My example use-case are mappers to map the models to DTOs, which are returned by an MSW API. These mappers mostly convert relations to their ids and attaches computed information. E.g. `user: oneOf("user")` is mapped to `userI

[2022-01-21 15:51] kettanaito commented on #185
Hey, @christoph-fricke. This is a great suggestion, we should export those types to allow developers to annotate their logic safer.

Would you be interested in opening a pull request? I will help you with the code review and getting these changes released.

[2022-01-22 10:11] christoph-fricke commented on #185
@kettanaito Sure. I will get to it in the coming days.

Do you think we should only expose selected existing interfaces, which should be the straightforward MVP solution?

It might be useful to add helpers for extracting and mapping types as well. I am not familiar with the existing generic shapes yet, so don't quote me on this 😅, but they might be harder to apply than some helpers that tailor to

[2022-02-12 13:49] MatejBransky commented on #36
@jpribyl It really works! Thank you! 🙂

I just don't know how to solve an enum. 🙁 ..Can you help me, please?

[code]

Error:
[code]

[2022-02-15 00:25] strozw commented on #36
Here are the compromises I'm currently using.

[code]

This helper cannot strictly type check up to the value type of each property, but it can eliminate the omission of definition of each property.

I hope it helps.

[2022-02-22 17:21] kettanaito commented on #89
Thanks for investigating this, @roertbb! I'm all hands for adopting `AND` and `OR` in this library but I could use a hand in doing so. We can start small and implement a special `OR` property on the `where` clause first, and then gradually move from that. I will be happy to help with code review to whoever finds the courage to build this!

[2022-02-22 23:02] kettanaito commented on #185
I'd favor a more considered approach. Once we export these types they become our public API. It'd be harder to introduce changes without having our users constantly keep their codebases updated with the correct types (considering users that would use these types).

I feel that some of the internal types we use can be simplified (looking at you, `Value`) for the purpose of being used publicly. We m

[2022-02-26 12:57] #139 closed

[2022-02-26 13:31] #140 closed

[2022-03-04 10:09] christoph-fricke commented on #185
@kettanaito I agree. I have tried to use `Entity` and `Value` by importing them from the internal modules directly without much success. However, over the last weeks I have spend a lot of time writing tests with Playwright against an MSW + MSW Data mock backend and have gained insights into common use cases I encountered all the time. I noticed that all can be properly typed with just one helper t

[2022-03-13 07:51] Francis-Tao-jinjin opened #196 "Could the DB return a copy of the data when executing the query"
Currently, when using `getAll` to query the data from the DB will return the reference of the data. If I delete or modify some of the fields in the return data, the actual data stored in the DB will also be modified.

[2022-03-14 01:18] kettanaito commented on #196
Hey, @Francis-Tao-jinjin.

Every database operation (`create`, `update`, `delete`, etc.) returns the end result of that operation. For example, calling an `update` returns the next state of the matched entity.

Was there an issue you've experienced around this? If so, please provide a reproduction repository where I could take a look at it.

[2022-03-14 01:20] kettanaito commented on #196
I think I've understood what your use case was.

[code]

Did I get it right?

If that's the case then the solution is rather straightforward: do not modify the data returned from `.getAll()`. A general rule of thumb: do not modify the data you don't own.

This library exposes declarative interface to modify the database entities. You can `create`, `update`, and `delete` any entities you wish. How

[2022-03-14 01:20] #196 closed

[2022-03-14 16:59] strozw opened #197 "Support for non structured object"
current my project has model that has non structured object property. it's like below data.

[code]

How about supporting unstructured object values by the `Object` type? just like below code.

[code]

[2022-03-15 11:26] kettanaito commented on #197
Hey, @strozw.

This is already supported, I believe. You can use the value getter function to return an empty object if that's the intended value:

[code]

I'd expect that you should be able to create `userConfig` entities with the following initial values:

[code]

You'd not have any of the `userConfig.meta` properties described but that's the expected behavior when you say "unstructured object".

[2022-03-16 01:01] strozw commented on #197
@kettanaito

thank you for your quick reply.

I immediately tried the method introduced that is using `() => ({})`, but the following problems occurred.

First, using `() => ({})` as it is caused the following error in typescript.
So I had to cast it to `any` like` () => ({} as any) `.

[code]

Next, by using `() => ({})`, I was able to execute the following model creation code without error, but

[2022-03-24 11:12] smashercosmo commented on #197
This is almost the same error that I get when I try to use getter function to describe nested array field https://github.com/mswjs/data/issues/162

[2022-03-25 09:57] mauriceoc commented on #95
It might be an idea to give access to the entire `modelDefinitions` object here, instead of just the current entity. This would allow values to be generated from any entity in the definitions, instead of just the current one.

[code]

[2022-03-25 12:28] kettanaito commented on #95
@wrex, I'm afraid that having to evaluate models twice may introduce performance issues for people with the large number of models.

I can't say I like the idea of mixing models with entities, I think it disrupts the model -> entity flow. I would like to support this feature but without complicating the model syntax. Once a model (property) can access the entity reference, circular references beco

[2022-03-26 00:28] tinleym opened #199 "Feature Request: manyOf can optionally return empty array instead of undefined"
## Use Case
GraphQL schemas may require an array type, in which case returning undefined will throw an error. The current workaround is to explicitly extract all fields from an Entity and append an or fallback to all manyOf fields. It would be nice if this wasn't the case.

## API Change
Change the manyOf(entityName: string) declaration to manyOf(entityName: string, emptyArrayFallback?: boolean)

[2022-03-28 10:30] tarjei commented on #197
I've ended up creating extra dependent object to work around this in the past. Would love to see a proper solution.

[2022-03-30 09:51] kettanaito commented on #199
Hey, @tinleym. Thanks for suggesting this!

I think this is a good idea. Listing methods should always return a list which may or may not be filled with entities that match the criteria.

Sharing some of the similar APIs below for inspiration:

[code]

[code]

Since we model our public API to resemble Prisma, that's a big argument to migrate to the return type you're proposing.

Please, go ahead a

[2022-04-06 13:59] #199 closed

[2022-04-08 19:23] kettanaito opened #203 "Support nested nullable objects"
- Originated from #202

This has to be supported:

[code]

But it's not. Recursive nullable objects as well. No primary key needed.

[2022-04-09 19:53] #17 closed, assigned to nobody

[2022-04-19 12:52] mesteche opened #205 "Support custom where filters"
Currently there are some query that are not possible to make directly and the dataset needs to be filtered manually afterward.
For instance, there is no way to quey on null or dates:
[code]
The only way I found to do this is to filter the results afterward:
[code]
But we can't use pagination then and we have to manually implement it as well.

Instead of implementing every possible missing feature,

[2022-04-19 18:27] kettanaito commented on #205
Hey, @mesteche. Thanks for the suggestion.

I wonder what goes wrong with date querying in your case. Could you take a look at our [Date test suite](https://github.com/mswjs/data/blob/4d43ca03841e7f8ba735501c0d85a28cdf599286/test/query/date.test.ts) and see if you can spot any difference? As far as I know, querying by Date is supported and functional but I may be missing some scenarios.

Querying

[2022-04-28 13:05] alexis-regnaud commented on #36
Do we have any update about that one ? I tried the upper solutions but the `user` created by `user.create()` give a `user` where all fields have  `ModelDefinitionValue` type, which cause an issue when we want to pass it to generic Graphql implementation :
[code]

[2022-05-12 12:43] MalkaGloiberman opened #211 "g is not a function error on update method"
I try to update like that:
` const updatedCar = await db.cars.update(
            {where:  {
                id: {
                    equals: req.params.carId
                }
            },data:car `});``
and I got this error:
  Error updating plan FetchError {
      message: 'request to https://localhost:3000/cars/car-aXRDL1BDKBRlCs failed, reason: g is not a function',
      type: 'system',

[2022-05-12 14:17] kettanaito commented on #211
Hey, @MalkaGloiberman.

Could you please provide a reproduction repository for this? Something is likely wrong with how the library is used (or we have a bug, that's always a possibility) but I can't do much if I can't reproduce this. Thanks.

[2022-05-12 14:17] #211 closed

[2022-05-13 05:55] micha149 commented on #185
Currently I am writing a handler which returns a list of items which can be filtered. In my handler I am constructing a `filters` object which I merge into the `where` prop of `findMany`. For this I find the `QuerySelectorWhere` type useful.

[code]

[2022-05-18 11:04] kettanaito commented on #197
@vignesh-kira, there are two ways currently:

## Nested object

[code]

With plain nested objects, the `car.manufacturer` is a literal object on the `car` entity and does not exist as a separate entity to be queried.

## Use a relationship

[code]

With the "car" - "company" relationship, both "car" and "company" (`car.manufacturer`) are entities that can be queried separately or conjointly.

[2022-05-18 11:05] kettanaito commented on #197
## Update

I'm currently working on an internal rewrite of how models are parsed in the library. It heavily affects this feature in particular, as I'm unifying how nested model definitions can work.

[2022-05-19 07:18] tarjei opened #213 "[feature request] add shortcut method to get by primary key"
Hi, I often find myself querying for a single entity by an known primary key.

It would be super useful to have this as a separate method `find(primaryKey)`.

[2022-05-19 08:50] kettanaito commented on #213
Hey, @tarjei.

Do I understand you correctly that you'd like to propose a shorthand for this:

[code]

[2022-05-19 09:28] micha149 commented on #95
@kettanaito what about just evaluating the primaryKey in advance and pass it into each value getter. So it could be used as a seed for randomization functions.

Example for an actual use case in my project:

[code]

To reduce overhead, the `generateUserData` function calls could be memoized.

[2022-05-20 00:11] shawntax opened #217 "Update Faker Dependency and Imports"
In January 2022, there was an incident with the original mainter of Faker and a new [community-maintained project](https://github.com/faker-js/faker) has been created. More info on [that here](https://fakerjs.dev/about/announcements/2022-01-14.html).

I've already [updated references to Faker](https://github.com/mswjs/data/pull/216) in the README, but since this library has `faker` as a dependency

[2022-05-21 23:45] Aloysb commented on #203
@kettanaito I'll give this a crack 😉

[2022-05-22 03:56] Aloysb commented on #203
See PR #219 👍 😃

[2022-05-22 15:35] #217 closed

[2022-06-06 22:11] arekucr commented on #49
Hi any new on the persistency layer?

[2022-06-09 19:21] lavoscore opened #221 "Unable to work with data if referenced from Cypress support file"
Sorry in advance if this is not the right place to post this issue, but I couldn't find any info about it: I'm having a hard time trying to share my db instance between my Cypress support file and my e2e test files.

[code]
(`db` is created as simple as possible with `export const db = factory({ user: ... })`)

I have support/index.ts import start-worker.ts, which starts my msw worker to intercept

[2022-06-10 09:56] kettanaito commented on #221
Hey, @lavoscore. Thanks for raising this.

Yes, I believe that's the case. Regardless of how Cypress works, you are referencing two difference instances of exported `db` in your test and in your setup file. This happens because those two files run in different environments:

- Cypress evaluates the setup file as a part of its bootstraping in Node.js.
- The E2E test file is evaluated in the browser

[2022-06-10 09:56] #221 closed

[2022-06-13 18:05] lavoscore commented on #221
What a nice answer! Thanks!

It's a pity not to be able to use support files as "reusable behavior" in this case, but I totally understand why now. I think I'll just repeat my direct imports in my tests for now. It's not DRY, but the alternative is a little bit too much for me at the moment. Maybe I'll switch to your proposed solution in the future though.

[2022-06-17 04:00] oscles opened #224 "toHandlers method does not use the full baseUrl argument"
[code]

Throw the following alert:
![image](https://user-images.githubusercontent.com/32989503/174221782-abc27908-c1d0-4f19-8538-b0005d064869.png)

This is the console output when printing `console.log(db.banner.toHandlers('rest', urlApi))`
![image](https://user-images.githubusercontent.com/32989503/174222253-920f1abd-0a48-4ede-be6a-ea2ba5982451.png)

does not add `api` segment to `baseUrl`

[2022-06-17 09:30] kettanaito commented on #224
Hey, @oscles.

You are missing a trailing slash in your base URL in order for it to be taken fully when composing request handlers URL. Compare:

[code]

[2022-06-17 09:30] #224 closed

[2022-06-23 23:22] dustinsgoodman opened #226 "Handlers not properly registering with Next.js when using faker v6 or 7"
# Issue
When using [faker-js](https://github.com/faker-js/faker) v6 or v7 with msw and mswjs/data, the server fails to initiate the worker. It appears as though the the handlers are getting corrupted somehow. I've been able to recreate the issue in this Stackblitz for your review: https://stackblitz.com/edit/nextjs-bfqzrz?file=package.json

This is what you should see on load:
<img width="754" alt

[2022-06-24 09:59] kettanaito commented on #226
Hey, @dustinsgoodman. Thanks for reporting this.

This issue is a duplicate of:

- https://github.com/mswjs/msw/discussions/1236

If you follow the answer to that discussion you will get this issue resolved.

[2022-06-24 09:59] #226 closed

[2022-06-24 15:23] dustinsgoodman commented on #226
Hey @kettanaito - I don't think this is a duplicate and is rather an issue with integration with faker itself. When I comment out faker in https://stackblitz.com/edit/nextjs-bfqzrz?file=mocks/db.js, the server error changes and the handlers are actually able to register. Stackblitz has issues with the worker registration but you can see the error completely changes from the one describes in https:

[2022-06-24 23:17] kettanaito commented on #226
Have you tried following the proposed answer in that discussion while using Faker?

I don't argue that Faker may affect things, like being shipped in an ESM or something, which automagically flips how webpack resolves modules under the hood, but the error message on the screenshot above is very likely about the conditional imports.

[2022-06-27 04:45] dustinsgoodman commented on #226
I hadn't quite followed you and you meant to go to https://github.com/mswjs/msw/issues/1227#issuecomment-1118492523 🤦 - that worked perfectly. I'll go open up a quick PR to update https://github.com/vercel/next.js/blob/canary/examples/with-msw/mocks/index.js because that would save people lots of headaches.

[2022-06-29 09:33] mwyrembl opened #227 "Feature Request: Delay for toHandlers"
This is a feature request.

It would be helpful for local development and testing if the toHandlers method would support a delay parameter in milliseconds to delay the response.

Example for delaying the response for 2 seconds:

toHandlers("rest", "http://localhost:3000/api/", 2000);

[2022-06-29 09:38] Karibash opened #228 "Cannot get model with null condition"
# Current behavior

It is not possible to get a model for which a specific property is null.

[code]

# Minimum reproduction code

https://codesandbox.io/s/inspiring-fog-wesv28?file=/index.js

# Expected behavior

It seems that the compileQuery function is returning false if the property value is null.
I think it needs to flow to subsequent processing even if the property value is null.
https://gi

[2022-06-29 12:18] kettanaito commented on #228
Hey, @Karibash. Thanks for sharing this!

We are aware of this limitation and working on it in https://github.com/mswjs/data/pull/187. So far, there's only an integration test that confirm the issue is there.

I can't promise anything as to when this is going to be resolved though. As one of my countless endeavours, I'm also rewriting how Data works from scratch to account for some fundamental sho

[2022-07-06 19:43] dustinsgoodman commented on #226
@kettanaito got it fixed upstream in next.js 😄 https://github.com/vercel/next.js/pull/38050

[2022-07-15 01:22] cp3hnu commented on #227
Maybe consider adding response transformers(https://mswjs.io/docs/basics/response-transformer)

[2022-07-15 11:44] kettanaito commented on #227
I believe I've answered this in [this discussion](https://github.com/mswjs/data/discussions/223).

[2022-07-15 11:44] #227 closed

[2022-07-16 07:38] Meemaw opened #232 "Auto populating related fields"
Hey!

Have a question about auto populating `oneOf` fields.

Imagine the following factory:

[code]

Its possible to create item like so:

[code]

☝️ this is fine, but imagine we now have 5 relations here, and every time we create the `item` we need to pass in all of those related field creations.

Is there an option (and if not why not), that the following code would automatically also create all

[2022-07-16 13:49] kettanaito commented on #232
Hi, @Meemaw.

I believe relational properties ("metadata") do not have default values by design. So, whenever you create a parent entity, you must provide a reference to the child entity of the relationship to create a reference.

I like the explicit action here. Note that you can always abstract repetitiveness on your end, closer to the domain knowledge and model restrictions of your application.

[2022-07-16 16:30] Meemaw commented on #232
Hi @kettanaito thanks for the answer.

I agree that this could be solved with the `createItem` helper. We are using this to auto generate graph for a GraphQL API where by default we would like to have all related entities automatically created so things just work.

I'm trying to write a generic helper for a entity we have which could take in simple objects instead of msw model definitions and woul

[2022-07-20 15:50] ajiteshchhatani opened #233 "Unable to create mock data from model"
Hi! I am playing around with msw and mswjs/data in a small react-app. I was successfully able to follow the documentation and create handlers for the msw and a small basic model using mswjs/data.

However the moment I try to generate some data based on the model I get an error in my React app which says

`Uncaught TypeError: propertyDefinition.getPrimaryKeyValue is not a function` which points to

[2022-07-21 09:17] kettanaito commented on #233
Hi, @ajiteshchhatani. Thanks for reaching out.

I believe I know what the issue is, it's in the way you define `primaryKey` for the `user` model. The `primaryKey` function expects either a constructor (to infer the type) or a _getter function_. In contrast, you're passing a resolved value of calling `uuidv4()`.

Here's how to represent your intention:

[code]

[2022-07-21 09:46] ajiteshchhatani commented on #233
Hey @kettanaito thank you for this.

The solution worked. It was a mistake on my part. I didn't look at it close enough.

Apologies for opening this issue. Thank you once again.

[2022-07-26 03:32] cp3hnu commented on #227
My use case is that the actual network request response format is
`
{
  success: true,
  data: user,        // model
  message: "success"
}
`
In that case, toHandlers doesn't fit in.

[2022-07-29 09:22] asherccohen commented on #174
Hi, I'm super interested in this same case. We have large nested arrays in some of our resources and having to use manyOf for something that is not a resource feels unintuitive and doesn't reflect the reality of the db.

An n example is that if we use manyOf, it means we can technically query by that collection, which shouldn't be accessible on its own.

Any thoughts?

[2022-08-01 16:46] kettanaito commented on #174
I agree that using a `manyOf` relationship for non-relational properties is off semantically. It's a dirty hack. I've been working on a full rewrite of the library before I took some time off open source. I may come back to that. Perhaps I'll tackle better support for arrays there.

[2022-08-01 17:01] asherccohen commented on #174
That's cool, your work is much appreciated.

The library has a lot of potential, we use it to maintain complex mocks that allow our apps to be developed offline as well as showcase features that don't have a backend yet.

I'm also in touch with @zoubingwu maintainer of msw-auto-mock to potentially auto-generate models from openapi specs and integrate mocks with faker.

Let's stay tuned!

[2022-08-02 11:37] kettanaito commented on #174
Thank you for your kind words. I'm always happy to hear when my projects help someone. I took on this rewrite rather silently and I think that's how I will continue with it. I can't give any estimated but I'd love to finish it by the end of the year.

Please, if you use my projects to build yours, consider [supporting MSW on GitHub](https://github.com/sponsors/mswjs). I'd like to build more great

[2022-08-23 17:12] drac94 opened #234 "Make empty array to return all the records when using `in`"
Right now when passing an empty array when using `in` does not return anything, is there a way to make it return everything instead? this will help to use dynamic properties

Or maybe there is another way of doing it, sorry if thats the case

[code]

Above code returns empty if `idParam` is `null`,  `undefined` or an empty array `[]`

Right now I'm doing this instead

[code]

Thanks!

[2022-09-05 05:25] oteoe commented on #89
wouldn't it be easier to use the graphql parser?

https://dgraph.io/docs/graphql/queries/and-or-not/

https://graphql.org/graphql-js/language/

[2022-09-06 10:49] kettanaito commented on #197
@tarjei, the best way to track the progress on this is through the [Releases](https://github.com/mswjs/data/releases). When I'm done, it will be a new release.

[2022-09-06 14:33] oteoe opened #239 ""graphql": "^16.6.0","
msw/data has an issue with  "graphql": "^16.6.0", reverting to 15.5 fixes the issue.

msw v0.46.1 has graphql as dependency

https://github.com/mswjs/msw/commit/8436515fd93e3f372205815b52ffc3a572da2690

[2022-09-07 10:08] kettanaito commented on #239
Hey, @oteoe.

Could you provide more details on which exact issue happens? A reproduction repository would be nice.

[2022-09-07 10:08] #239 closed

[2022-10-15 12:19] MarcLopezAvila commented on #197
Hi, just wanted to mention that I am looking forward this 'non-structured' object creation too. I have exactly the same issue as @strozw:

'Next, by using () => ({}), I was able to execute the following model creation code without error, but the actual value of userConfig.meta is{{ It wasn't meta1: 1}, but was the default{}. and I also got the same result for updating the model.'

Hope there is a

[2022-10-26 14:58] soullivaneuh opened #245 "Allows to define getters that depends of another properties"
I have a modeling like this:

[code]

On the production API, the `slug` property has a generated value that depends to the `name` property.

However, I have no way to reproduce that with the fake data factory, as I don't have the information on the getter, so I have to generate a random one.

Ideally, the simplest implementation way would be this:

[code]

Or maybe a way to define a custom functio

[2022-11-01 10:53] Shaglock commented on #36
Hello @MatejBransky did you manage to solve this somehow? I have the same problem

[2022-11-01 11:11] MatejBransky commented on #36
Unfortunately, I didn't solve it. We ended up doing without @mswjs/data and making our own db with lodash/chain.

[2022-11-03 16:15] r1chm8 opened #248 "Generated nested object types"
Hello, I'm wondering if types returned by generating data in these two different ways should be the same or not?

## Example one

[code]
the returned type of `article.metadata.author` is `string | null | undefined`.

## Example Two

[code]
the returned type of `article.metadata.author` is `string | null`;

I would expect the types to be the same and I'd also expect the type to be  `string | null`.

[2022-11-04 15:21] Shaglock commented on #36
I think it would be very interesting to know more about your custom solution if thats possible :)

[2022-11-15 16:48] zorgick opened #249 "Query (findMany, findFirst) ignores Array type fields."
It seems like models, that have a field with an Array type, cannot be queried.

A simple model, where roles field is an array of numbers:
[code]
is ignored by findMany query:
[code]
A reproducable example can be found here: https://codesandbox.io/s/flamboyant-shadow-rmb5gk?file=/src/index.js

[2022-11-17 22:49] imyasha opened #250 "Type Error on queryTypes.ts file."
I used `@mswjs/data` on my project and would like to build it
but I got this error.

[code]

[2022-11-18 15:54] brogine opened #252 "Definition for Objects with dynamic keys"
Hi everyone!

First of all, thanks a lot for this project. It was the missing feature that MSW was lacking.
So far I've found it easy to use and extremely simple to setup.

Let me describe the issue that I'm facing at the moment.
I was not able to find a way to describe an estructure with dynamic object keys.
Let's say I've this in TS:

[code]

Is there a way to do it? I tried adding `Object` as a

[2022-11-18 16:07] kettanaito commented on #252
Hey, @brogine. Thanks for your kind words!

Dynamic object property support is not currently present. Moreover, I can't say for certain how it would align with the current API. If you have some proposals on this, I'd be glad to support you in making this happen. But if this support implies rewriting the library, I'd recommend against it, as I'm in a middle of such a rewrite already (that's been go

[2022-11-24 10:38] akshymalvia opened #253 "How to save a File in msw-data"
Here's how I've defined the model definition for file type, not using File or Blob constructors as they're throwing errors.

Model definition
[code]

The way I'm trying to create the model instance.
[code]

I'm getting this as `createdFile`, empty object as content instead of the File.

[code]

I don't know what I'm doing wrong here.

Using  `@mswjs/data^0.10.2`

[2022-11-24 11:01] kettanaito commented on #253
Hey, @akshymalvia.

What error do you get when using the `File` instance in the model definition?

[code]

[2022-11-24 11:07] akshymalvia commented on #253
Hi, @kettanaito thanks for the quick response.

This is the error that I'm getting

![Screenshot 2022-11-24 at 16 35 54](https://user-images.githubusercontent.com/30196863/203769372-7eb81e67-119a-411c-bdf7-4061f2a707e5.png)

[2022-11-24 11:26] kettanaito commented on #253
Here's an example of using `File` as a model value:

[code]

- [View on CodeSandbox](https://codesandbox.io/s/mswjs-data-file-instance-0t47ti)

Note that this won't be compatible with TypeScript because `File` is not assignable to the model value type that the library expects:

https://github.com/mswjs/data/blob/efb17476bc8fedb759b4f0977bc2b96df6ebc0ff/src/glossary.ts#L21-L22

We seem to be explic

[2022-11-24 11:26] #253 closed

[2022-11-24 17:43] akshymalvia commented on #253
Hey @kettanaito, thanks for the Sandbox.

There's an issue with file creation, the created file does not have the contents of the file assigned to `content` key, instead, it has the contents of the initial model definition, I faced this issue locally and then checked out the Sandbox, and the behavior is the same.

[2022-11-25 06:34] akshymalvia commented on #253
Why the created file doesn't have the assigned content?

[2022-11-25 13:02] kettanaito commented on #253
Likely because we don't have support for custom classes as model value types, as I've said. I don't know at the moment what such support would imply, I haven't worked on Data in quite some time.

Because `File` is not a primitive value, so this check fails:

https://github.com/mswjs/data/blob/efb17476bc8fedb759b4f0977bc2b96df6ebc0ff/src/model/createModel.ts#L87

https://github.com/mswjs/data/blob/

[2022-11-28 05:41] akshymalvia commented on #253
Hi @kettanaito, thanks for the answer.

I want to work on adding support for `File`. Would you think it through, should it be supported or not?

I can also help implement persistence if you guide me through it, like how it should be implemented.

[2022-11-30 00:25] pstoica opened #254 "GraphQL issues with __typename and interfaces/unions"
I'm trying to use this library to mock Apollo and am running into a few issues when using the generics (`.query<Query, Variables>`):

1. `__typename` is required and expects a predetermined value. `String` is a superset and won't work. I had to do this:
`__typename: () => "User" as const,`
2. Interfaces (and possibly unions).. are a bit odd.
  - Some of these fields are only present in some implem